body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-family: 'Quattrocento', serif;
}

img {
  display: block;
  max-width: 100%;
}

header {
  background-image: url(../img/peinture-legumes.png);
  background-size: 380px;
  border-top: #57bb6b solid 8px;
  padding: 30px 30px 25px;
}

.introduction {
  background-color: #ffffffdf;
  padding: 18px 50px;
  margin-bottom: 30px;
}

header img {
  height: 45px;
  margin: auto;
}

.slogan {
  color: #57bb6b;
  font-size: 20px;
  text-align: center;
}

.button {
  background-color: #57bb6b;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.button-light {
  background-color: white;
  color: #57bb6b;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-light {
  background-color: white;
  text-align: center;
  padding: 70px 65px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-size: 26px;
  margin-top: 0;
}

main p {
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 0;
}

.section-dark {
  background-color: #57bb6b;
  padding: 30px 25px;
}

.title-dark {
  color: white;
}

.dark-container {
  border-radius: 20px;
  padding: 20px 40px 30px;
  margin-bottom: 35px;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.437);
}

.dark-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.dark-container img {
  width: 80px;
}

h3 {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  margin: 0;
}

.section-dark p {
  color: rgba(0, 0, 0, 0.504);
}

.section-dark a {
  color: black;
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.banana {
  background-color: #fff8d7;
}

.kiwi {
  background-color: #c4f2ad;
}

.coffee {
  background-color: #d3c6b2;
}

.strawberry {
  background-color: #f7a4b4;
}

.title-green {
  color: #57bb6b;
}

footer {
  background-color: white;
  padding: 5px 65px 60px;
}

footer p {
  color: #57bb6b;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
}

.container-fruits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer img, .section-light img {
  width: 26px;
}